.app-mini-slideshow .slides
{
	width: 400px;
	height: 300px;
	z-index:5;
	border: 1px solid #000;
}


.app-mini-slideshow .slides img.thumbnail
{
	display: none;
}

.app-mini-slideshow .slides.jdGallery
{
	overflow: hidden;
	position: relative;
}

.app-mini-slideshow .slides.jdGallery img
{
	border: 0;
	margin: 0;
}

.app-mini-slideshow .slides.jdGallery .slideElement
{
	width: 100%;
	height: 100%;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/mini-slideshow/images/loading-bar-black.gif');
}

.app-mini-slideshow .slides.jdGallery .loadingElement
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/mini-slideshow/images/loading-bar-black.gif');
}

.app-mini-slideshow .slides.jdGallery .slideInfoZone
{
	position: absolute;
	z-index: 10;
	width: 100%;
	margin: 0px;
	left: 0;
	bottom: 0;
	height: 40px;
	background: #333;
	color: #fff;
	text-indent: 0;
	overflow: hidden;
}

* html .app-mini-slideshow .slides.jdGallery .slideInfoZone
{
	bottom: -1px;
}

.app-mini-slideshow .slides.jdGallery .slideInfoZone h2
{
	padding: 0;
	font-size: 80%;
	margin: 0;
	margin: 5px 5px;
	font-weight: normal;
	color: inherit;
	text-align:center;
}

.app-mini-slideshow .slides.jdGallery .slideInfoZone p
{
	padding: 0;
	font-size: 60%;
	margin: 2px 5px;
	color: #eee;
}

.app-mini-slideshow .slides.jdGallery div.carouselContainer
{
	position: absolute;
	height: 135px;
	width: 100%;
	z-index: 10;
	margin: 0px;
	left: 0;
	top: 0;
}

.app-mini-slideshow .slides.jdGallery a.carouselBtn
{
	position: absolute;
	bottom: 0;
	right: 30px;
	height: 20px;
	/*width: 100px; background: url('/mini-slideshow/images/carousel_btn.gif') no-repeat;*/
	text-align: center;
	padding: 0 10px;
	font-size: 13px;
	background: #333;
	color: #fff;
	cursor: pointer;
}

.app-mini-slideshow .slides.jdGallery .carousel
{
	position: absolute;
	width: 100%;
	margin: 0px;
	left: 0;
	top: 0;
	height: 115px;
	background: #333;
	color: #fff;
	text-indent: 0;
	overflow: hidden;
}

.app-mini-slideshow .slides.jdExtCarousel
{
	overflow: hidden;
	position: relative;
}

.app-mini-slideshow .slides.jdGallery .carousel .carouselWrapper, 
.app-mini-slideshow .slides.jdExtCarousel .carouselWrapper
{
	position: absolute;
	width: 100%;
	height: 78px;
	top: 10px;
	left: 0;
	overflow: hidden;
}

.app-mini-slideshow .slides.jdGallery .carousel .carouselInner,
.app-mini-slideshow .slides.jdExtCarousel .carouselInner
{
	position: relative;
}

.app-mini-slideshow .slides.jdGallery .carousel .carouselInner .thumbnail, 
.app-mini-slideshow .slides.jdExtCarousel .carouselInner .thumbnail
{
	cursor: pointer;
	background: #000;
	background-position: center center;
	float: left;
	border: solid 1px #fff;
}

.app-mini-slideshow .slides.jdGallery .wall .thumbnail, 
.app-mini-slideshow .slides.jdExtCarousel .wall .thumbnail
{
	margin-bottom: 10px;
}

.app-mini-slideshow .slides.jdGallery .carousel .label, 
.app-mini-slideshow .slides.jdExtCarousel .label
{
	font-size: 13px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	padding: 0;
	margin: 0;
}

.app-mini-slideshow .slides.jdGallery .carousel .wallButton, 
.app-mini-slideshow .slides.jdExtCarousel .wallButton
{
	font-size: 10px;
	position: absolute;
	bottom: 5px;
	right: 10px;
	padding: 1px 2px;
	margin: 0;
	background: #222;
	border: 1px solid #888;
	cursor: pointer;
}

.app-mini-slideshow .slides.jdGallery .carousel .label .number, 
.app-mini-slideshow .slides.jdExtCarousel .label .number
{
	color: #b5b5b5;
}

.app-mini-slideshow .slides.jdGallery a
{
	font-size: 100%;
	text-decoration: none;
	color: inherit;
}

.app-mini-slideshow .slides.jdGallery a.right, 
.app-mini-slideshow .slides.jdGallery a.left
{
	position: absolute;
	height: 99%;
	width: 25%;
	cursor: pointer;
	z-index:10;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

* html .app-mini-slideshow .slides.jdGallery a.right, 
* html .app-mini-slideshow .slides.jdGallery a.left
{
	filter:alpha(opacity=50);
}

.app-mini-slideshow .slides.jdGallery a.right:hover, 
.app-mini-slideshow .slides.jdGallery a.left:hover
{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.app-mini-slideshow .slides.jdGallery a.left
{
	left: 0;
	top: 0;
	background: url('/mini-slideshow/images/fleche1.png') no-repeat center left;
}

* html .app-mini-slideshow .slides.jdGallery a.left { background: url('/mini-slideshow/images/fleche1.gif') no-repeat center left; }

.app-mini-slideshow .slides.jdGallery a.right
{
	right: 0;
	top: 0;
	background: url('/mini-slideshow/images/fleche2.png') no-repeat center right;
}

* html .app-mini-slideshow .slides.jdGallery a.right { background: url('/mini-slideshow/images/fleche2.gif') no-repeat center right; }

.app-mini-slideshow .slides.jdGallery a.open
{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.app-mini-slideshow .slides.withArrows a.open
{
	position: absolute;
	top: 0;
	left: 25%;
	height: 99%;
	width: 50%;
	cursor: pointer;
	z-index: 10;
	background: none;
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.app-mini-slideshow .slides.withArrows a.open:hover { background: url('/mini-slideshow/images/open.png') no-repeat center center; }

* html .app-mini-slideshow .slides.withArrows a.open:hover { background: url('/mini-slideshow/images/open.gif') no-repeat center center;
	filter:alpha(opacity=80); }
	
	
